extends layout

block content
    //div #{data[0].name}
    //div #{title}
    #top
        .container.top
            .logo
                a(href="")
                    img(src="/images/icon/logo.png")
            ul(class="menu clear")
                li
                    a(href="relation")
                        img(src="/images/icon/iconfont-answer.png")
                        div 联系我们
                li
                    a(href="" class="active")
                        img(src="/images/icon/iconfont-friends.png")
                        div 关于我们
                li
                    a(href="news")
                        img(src="/images/icon/iconfont-file2.png")
                        div 公司新闻
                li
                    a(href="product1")
                        img(src="/images/icon/iconfont-app.png")
                        div 产品展示
                li
                    a(href="index" )
                        img(src="/images/icon/iconfont-home.png")
                        div 首页

    div(style=" margin-top:70px")
        img(src="http://7xiwm1.com1.z0.glb.clouddn.com/cfmy_newstop.jpg" style=" width:100%")
    .container(style="")
        .about
            .img
                img(src="http://7xiwm1.com1.z0.glb.clouddn.com/cfmy_about01.jpg")
            p 重庆川峰门业是一家集产品设计、研发、生产、销售、营销服务为一体的综合性现代化室内套装门企业。
              |并从欧洲引进一批先进的生产设备和高素质的管理人员。
            p 重庆川峰门业专业生产：豪华工艺门、模压门、贴皮实木门等系列产品，具有木纹清新自然、色彩亮丽、时尚典雅的风格，
              |是家居、公寓、别墅、酒店及办公楼装饰等上乘之选。</p>
            p 在木门开发上，我们采用了自己研发的木门生产工艺，模压套装门采用高密度模压板、选用蒸汽烘干的福建福杉作为基材，经过高压指接，
              |最大限度地减少木材固有的内应力、防止变形。表面两层放爆裂板经高温热压，防止木材因不同季节的温湿率变化而自然缩涨，
              |造成干裂、门条两边采用实木封边与饰面木皮形成统一，且易于施工，并起到保护木门的作用，使用长久不变形。
            p 川峰秉承“以人为本，不断创新”始终坚持“以市场为导向，以员工为依托”满足个性化市场需求的企业经营理念。
              |广大消费者的满意是我们成功的宗旨，我们真诚希望与各界同仁精诚合作、共创辉煌，为中国门业腾飞而不懈奋斗！
            p 重庆川峰门业诚招全国各地经销商，欢迎各位经销商到本企业考察。

    .jumbotron(style=" background:#fafafa; padding:3em 0")
            .container
                .row.lxfs
                    .col-sm-4
                        a(href="")
                            img(src="images/icon/fk038.png")
                        a(href="")
                            img(src="http://7xiwm1.com1.z0.glb.clouddn.com/cfmy_ewm.png")
                    .col-sm-8
                        .row
                            .col-sm-12
                                a(target='_blank' href='http://wpa.qq.com/msgrd?v=3&uin=1334486738&site=qq&menu=yes' title='QQ:1334486738')
                                    img(src="images/icon/fk040.png")
                                a(target='_blank' href='http://wpa.qq.com/msgrd?v=3&uin=1270902371&site=qq&menu=yes' title='QQ:1270902371')
                                    img(src="images/icon/fk040.png")
                            .col-sm-6
                                a( href="")
                                    img(src="images/icon/fk042.png")
                                    span 023-65496756 4006-023-189
                            .col-sm-6
                                a( href="")
                                    img(src="images/icon/fk043.png")
                                    span @重庆川峰门业新浪微博
                            .col-sm-6
                                a( href="")
                                    img(src="images/icon/fk044.png")
                                    span @1512763623@qq.com
                            .col-sm-6
                                a( href="")
                                    img(src="images/icon/fk045.png")
                                    span @重庆川峰门业腾讯微博
                            .col-sm-12
                                a( href="")
                                    img(src="images/icon/fk046.png")
                                    span 重庆市 九龙坡区 含谷镇 崇兴村 水泥厂附近