doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/globe.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type="text/javascript" src="/javascripts/jquery-1.js")
    script(type="text/javascript" src="/javascripts/lrscroll.js")
    script(type="text/javascript" src="/javascripts/script.js")
    <!--[if lt IE 9]>
    script(src="/javascripts/html5shiv.min.js")
    script(src="/javascripts/respond.min.js")
    <![endif]-->
  body
    block content


