*, :after, :before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; margin: 0}
img{ border:none;display: inline-block}
body { background: white; font: 14px/1.4 Georgia, Serif; font-family:微软雅黑, Arial, Helvetica, sans-serif;
    background: url("../images/icon/bg10.jpg");}
* html .group, *:first-child+html .group { zoom: 1; } /* First selector = IE6, Second Selector = IE 7 */
#index_model { width: 960px; margin: 10px auto; overflow:hidden; }
#index_model_in{ width:980px; margin:0; padding:0; overflow:hidden; height:auto;}
h1, h2, h3, h4, h5, h6, li, p { margin: 0; padding: 0; font-size: 1em; font-style: normal; font-weight: normal }
a, a:link, a:visited { color: #333; text-decoration: none}
p { margin: 0 0 5px 0; }
ul,li,ol{ list-style:none; display:block; margin: 0; padding: 0}
.clear { clear: both }
.clear:after { content: "."; height: 0; visibility: hidden; display: block; clear: both }
.overflow { overflow: hidden; text-overflow: ellipsis; white-space: nowrap }