

#top{position: fixed; width: 100%; top: 0; z-index: 999; box-shadow: 0 1px 5px #000; background: rgba(0,0,0,0.9); background: url("../images/icon/bg01.gif")}
.top{position: relative; height: 70px;}
.top .logo{position: absolute; top: 0;left: 0}
.top .logo img{ width: 260px}
.top .menu{ height: 100%; width: 100%}
.top .menu li{ float: right;  height: 100%; width: 100px; background: rgba(0,0,0,0.2); text-align: center}
.top .menu li a{ display: inline-block; width: 100%; padding-top: 15px; height: 100%; color: #FFFFFF;}
.top .menu li a:hover,.top .menu li .active{ background: rgba(235,79,56,1)}
.top .menu li a img{ width: 20px}
/* 轮播代码 */
#pic_out2{ width:100%; margin-top: 60px; overflow:hidden; position:relative; z-index:10}
#pic2{ width:100%; overflow:hidden; position:relative; margin:0 auto;  background:#FFF;}
#pic2 ul li a{ display:block; width:100%; height:535px; overflow:hidden; position:relative; z-index:2;}
#pic2 ul li {display:block; width:100%; height:535px; position:relative;}
#pic2 .prve,#pic2 .next{ width:80px; height:80px; background-image:url("../images/Sprites.png"); position:absolute; top:231px; display: block;z-index:1000; cursor:pointer;}
#pic2 .prve{ background-position:80px -1px; left:-100px;}
#pic2 .next{background-position:80px -80px; right:-100px;}

.test_inf{ margin:0 auto; width:960px;height:40px;}
.pic_bottom{ width:100%; height:81px; padding-top:28px; position:absolute; bottom:0; z-index:10; background:url("../images/pic_b.png");}
.pic_bottom_in{ width:960px; height:53px; position:relative; margin:0 auto;}
.center_btn{ width:346px; height:87px; position:absolute; left:292px; bottom:0; cursor:pointer; display:block;}
.chake_c{ width:379px; height:53px; display:block; float:left; position:relative; z-index:5;}
.chake_c b{ font-size:15px; color:#333; display:block; width:264px; float:left; margin-top:7px; text-align:right;}
.chake_c p{ font-size:12px; color:#999;  width:264px; float:left;text-align:right;}
.chake_c img{ float:right; display:block; width:98px; height:31px; margin-top:-17px;}

.pic_contact{ width:379px; height:53px; float:right; position:relative; z-index:5;}
.pic_contact span{ width:130px; overflow:hidden; height:43px; display:block; background: no-repeat url("../images/Sprites.png"); padding-left:40px; margin-top:10px; float:left;}
.pic_contact span p{ font-size:12px; font-weight:bold; color:#333; margin:0; line-height:16px;}

#pic_out2 #searchform{ width:188px; height:43px;padding-left:20px; margin-top:10px; float:left; display:block; position:relative; }
#pic_out2 #searchform #s{ width:138px; height:22px; padding:2px 2px 2px 20px; border:#999 solid 1px; margin:5px 0 0 20px;  }
#pic_out2 #searchform div{ width:33px; height:33px;background:0 -53px no-repeat url("../images/Sprites.png"); position:absolute; z-index:5;}

/*产品列表-----------*/
.productList{ padding: 30px 0}
.productList>div{ padding-bottom: 15px;}
.productList>div>div{ position: relative; min-height: 265px; background-color:#FFF;  background-image: url("http://7xiwm1.com1.z0.glb.clouddn.com/cfmy_loading01.gif");
 background-position: center; background-repeat: no-repeat}
.productList>div>div:hover{border-color: #eb4f38}
.productList>div>div>img{ width: 100%;height: 100%; display: block}
.productList>div>div .describe{ display: none; position: absolute; bottom:0; height: 50px; width: 100%; background: #000000;
    line-height: 50px; color: #FFF; opacity: 0.9; filter: alpha(opacity=90)}
.productList>div>div .describe span{ margin:  0 0.5em;}
.productList>div>div .describe b{ color: #eb4f38; margin-left: 0.2em}
.productList>div>div .describe i{ font-style: normal; margin-left: 0.2em; font-weight: bold; color: #ffc562 }
.productList>div>div a{ display: none; position: absolute; filter:alpha(opacity=50); opacity:0.5}
.productList>div>div a img{  top: 0; left: 0; width: 100%; height: 100%; z-index: 10; display: block;}
/*.productList>div>div:hover a{ display: block}*/
.productList>div>div:hover .describe{ display: block}

/*分页css*/
.paging{height: 100px; text-align: center}
.paging ul{ text-align: center;  width: 630px; height: 42px; margin: 0 auto}
.paging ul li{ float: left;  background: #880000; color: #FFF;
    font-size: 16px; border: 1px solid #999999; margin: 0 4px; cursor: pointer}
.paging ul li a{color: #FFF; font-size: 16px; display: inline-block; width: 40px; height: 40px; line-height: 40px;}
.paging ul li:hover,.paging ul .active{background: #eb4f38}
.paging ul>.b a{ width: 100px;}
.paging ul>.an,.paging ul>.an:hover,.paging ul>.an:hover a{ background: #999999; cursor: default}

/*新闻列表页面*/
.new-list{ margin: 1em ; min-height: 500px}
.new-list>div{ background: #FFF; color: #555; margin: 1em 0; height: 170px; padding: 10px}
.new-list>div .left,.new-list>div .right{float: left}
.new-list>div .left{ width: 20%; height: 100%;}
.new-list>div .left img{ width: 100%; height: 150px; display: block}
.new-list>div .right{ width: 80%; height: 100%;}
.new-list>div .right img{ width: 100%; height: 150px; display: block}
.new-list>div h1{ font-size: 24px; text-align: center; font-weight: bold; margin-top: 1em}
.new-list>div .time{ text-align: center; margin: 1em 0; padding-bottom: 1em; border-bottom: 1px solid #ededed}
.new-list>div .article{ margin: 1em 0}

/*关于我们页面*/
.about{background: #FFF; margin-top: 10px; margin-bottom: 50px; padding: 10px;}
.about .img{ text-align: center;}
.about p{ text-indent: 2em; margin: 1em 0}

/*联系我们*/
.relation{min-height: 600px; background: #FFF; margin-top: 30px; margin-bottom: 50px; padding: 100px 0;}
.relation p{ margin-left: 30%; font-size: 20px; line-height: 50px; }

/*联系方式*/
.lxfs .row>div{padding: 10px 0}
.lxfs  a span,.lxfs  a img{ display: inline-block; vertical-align: middle}
.lxfs  a img{ margin-right: 10px;}
.lxfs1{ text-align: center}
.lxfs1 .t{ margin-top: 5px;}


















